<form method="PUT" action="#/books/update/{{objectId}}">
    <fieldset id="new-book">
        <h2>Edit book</h2>
        <label>Title</label><br />
        <input type="text" name="book-title" value="{{title}}"><br />
        <label>Author</label><br />
        <input type="text" name="book-author" value="{{author}}"><br />
        <label>Isbn</label><br />
        <input type="text" name="book-isbn" value="{{isbn}}"><br />
        <button id="new-book-submit">Submit</button>
    </fieldset>
</form>